<header class="player-top-header">
    <div class="buttons">
        <div class="header_button" onclick="">
            <div class="circle">
                <img class="help" src="{{PathUi}}/top-header-help.svg" />
            </div>
            <div class="label">Help for<br/>parents</div>
        </div>
    </div>
    <div class="title">{{meta.title}}</div>
</header>