.player {
    .invisible {
        display: none;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    .wrapper {
        position: absolute;
        top: var(--y);
        left: var(--x);
        width: var(--width);
        height: var(--height);

        .content {
            position: absolute;
            top: var(--content-y);
            left: var(--content-x);
            width: var(--content-width);
            height: var(--content-height);
            --header-gap: 6.82rem;
            border-radius: 4rem;
            background: #efefef;
            box-shadow: 3.88px 3.88px 11.09px rgba(0, 0, 0, 0.3);
        }
    }

}
