header.player-top-header {
    display: flex;
    border-bottom: 1px solid var(--theme-color);
    position: absolute;
    top: 6rem;
    left: 21.5rem;
    width: 155.2rem;

    .title {
        text-align: right;
        font-size: 2rem;
        margin-left: auto; /* https://medium.com/@iamryanyu/how-to-align-last-flex-item-to-right-73512e4e5912 */
        margin-right: 2rem;
        align-self: flex-end;
        margin-bottom: 1.82rem;
        font-weight: 500;

    }

    .buttons {
        margin-left: 3rem;
        margin-bottom: .54rem;
    }

    .header_button {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }


    img.help {
        width: 1.1rem;
        height: 1.8rem;
    }

    .circle {
        transition: background-color .5s;
    }
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.9rem;
        height: 2.9rem;
        border-radius: 50%;
        background: var(--theme-color);
    }
    .selected .circle {
        background-color: var(--help-color);
    }

    .button > .label {
        margin-top: .7rem;
        font-size: 1.3rem;
    }
}