:host {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}


main {
    position: absolute;
    top: 2.4em;
    left: 4.3em;
    --main-height: calc(100vh - 4.8em);
    --main-width: calc(100vw - 8.6em);
    width: var(--main-width);
    height: var(--main-height);
    border-radius: 4em;
    background: #efefef;
    box-shadow: 3.88px 3.88px 11.09px rgba(0, 0, 0, 0.3);
}

footer {
    position: absolute;
    bottom: 2.4em;
    right: 4.3em;
    text-align: right;
}


.button {
    display: inline-block;
    text-align: center;

    padding: .93rem 5rem 1.37rem 5rem;

    border-radius: .887rem;
    background: #1f313f;

    font-size: 2.352rem;
    color: #fff;
}