<div class="home-partners">
    <ul class="partners">
        {{#each partners}}
            <li>
                <a href="{{this.href}}" target="_blank">
                    <img class="icon" src="{{this.src}}" alt="{{this.alt}}" />
                </a>
            </li>
        {{/each}}
    </ul>
</div>