section {
    position: absolute;
    top: 21.8rem;
    left: 33rem;
    width: 139.05rem;
    height: 74.682rem;
    border-radius: 3.131rem;
    border: 1.7px solid #1f313f;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

iframe {
    width: 100%;
    height: 100%;
}