main {
    height: initial;
    min-height: var(--main-height);
    --cell-width: 35em;
}

section {
    margin-top: 4.17rem;
}
ul {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill,minmax(var(--cell-width), 1fr));
}

li {
    text-align: center;
    height: 30em;
    width: var(--cell-width);
}

li img {
    width: 31.919em;
    height: 23.939em;
    -webkit-box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.7); 
    box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.7);
}

li .label {
    font-size: 2.309em;
    color: #1f313f;
}