@media only screen and (max-width: 800px) {
    :host {
        font-size: 80%;
    }
}

@media only screen and (max-width: 520px) {
    :host {
        font-size: 60%;
    }
}

@media only screen and (max-width: 400px) {
    :host {
        font-size: 40%;
    }
}

@media only screen and (max-width: 300px) {
    :host {
        font-size: 30%;
    }
}

@media only screen and (max-width: 200px) {
    :host {
        font-size: 25%;
    }
}

@media only screen and (max-width: 170px) {
    :host {
        font-size: 22%;
    }
}

.footer {
    margin-top: 1em;
}