main {
    height: initial;
    min-height: var(--main-height);
    margin-bottom: 2em;
}

section {
    margin-top: 4.17rem;
}

A {
    color: var(--theme-color);
}

.featured img {
    display: block;
    margin: 0 auto;
    width: 52.867em;

    background-color: green;
    -webkit-box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.7); 
    box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.7);
}
.featured .text {
    margin-top: .3em;
    margin-bottom: 1.5em;

    text-align: center;
    font-size: 4rem;
}
