ul {
    --cell-width: 25em;
    --cell-height: 20em;
    display: grid;
    grid-template-columns: repeat(auto-fit,var(--cell-width));
    gap: 2em;
    justify-content: center;
    margin: 10em;
}

li {
    text-align: center;
    width: var(--cell-width);
    height: var(--cell-height);
}

li img {
    height: var(--cell-height);
    width: var(--cell-width);
}