main {
    height: initial;
    min-height: var(--main-height);
    --cell-width: 35em;
    margin-bottom: 2em;
}

section {
    margin-top: 4.17rem;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit,var(--cell-width));
    justify-content: center;
}

li {
    text-align: center;
    height: 30em;
    width: var(--cell-width);
}

li img {
    width: 31.919em;
    height: 23.939em;
    -webkit-box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.7); 
    box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.7);
}

li .label {
    font-size: 2.309em;
    color: var(--theme-color);
}

A {
    color: var(--theme-color);
}
.featured-container {
    display: flex;
    justify-content: center;
}
.featured img {
    width: 50em;
    margin: 0 auto;
    -webkit-box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.7); 
    box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.7);
}
.featured .text {
    margin-top: .3em;
    margin-bottom: .5em;

    text-align: center;
    font-size: 5rem;
}

.intro-text {
    font-size: 3em;
    padding: 1em;
    text-align: center;
}