<div class="player-help"><div class="help-content">
    <p class="H1" dir="ltr">Parent Instruction and Information</p>
        <p class="Subheading">Help</p>
        <p class="normal">Please <a href="https://share.hsforms.com/1p4YvSpH3TWaHeTKUJTzJ7A1kii1" target="_blank">contact us</a> if you have specific queries or challenges with Ji Bytes.</p>
    <p class="Subheading">Using Ji Bytes on different devices</p>
        
    <p class="normal">For an optimal learning experience, we recommend that Ji Bytes be used on a desktop or laptop. If you are using a mobile device, you will not get the full intended Ji Bytes experience.</p>
    <li class="normal"><strong> Browser</strong>: Ji Bytes should be used in Safari, Chrome or Firefox on a Mac or PC</li>
        <li class="normal"><strong>Mobile</strong>: A limited Ji Bytes can be used on your iPad or iPhone’s Safari browser. Android devices are <strong>not</strong> supported.
    </li>
    </p>
    <p class="Subheading">Links for Ji Bytes</p>
        <ul>
        <li class="normal"><a href="https://create.jitap.app" target="_blank">Ji Tap Game Creator</a> </li>
        <li class="normal"><a href="https://jitap.net/activities/" target="_blank">Ji Tap Games</a> </li>
        <li class="normal"><a href="https://apps.apple.com/us/app/ji-studio-4-jewish-kids/id839491165" target="_blank">Ji Studio iPad App</a> </li>
        <li class="normal"><strong><a href="https://info.jewishinteractive.org/ji-studio-2" target="_blank">Ji Studio download to Mac or PC</a></strong> </li>
        <li class="normal"><a href="https://apps.apple.com/us/app/adobe-spark-video/id852555131" target="_blank">Adobe Spark iPad app</a> </li>
        <li class="normal"><a href="https://spark.adobe.com/" target="_blank">Adobe Spark Website</a> </li></ul>
    <p class="Subheading">Create Tools</p>
        <p class="subsubheading">Ji Tap Web Creator (Browser)</p>
    <ul>
    
        <li class="normal">Go to <a href="https://jitap.net/activities/" target="_blank">Ji Tap</a>&nbsp;</li>
        <li class="normal">Make sure that you have a parent login to Ji Tap - signup is free (<a href="https://youtu.be/89mRwNQcWEk" target="_blank">Watch how to create a family profile</a>)&nbsp;</li>
    <li class="normal">Login and click the CREATE item on the top menu</li>
    <li class="normal">Watch our short <a href="https://youtu.be/9ddMcBdFRco" target="_blank">instructional video</a> about our web creator tool</li>
        <li class="normal">Click the plus sign (+) to create. It’s easy!</li></ul>
        <p class="subsubheading">Ji Tap  Creator (iPad)&nbsp;&nbsp;</p>
        <ul>
        <li class="normal">Download the Ji Tap app</li>
        <li class="normal">Make sure that you have a parent login to Ji Tap - signup is free (<a href="https://youtu.be/89mRwNQcWEk" target="_blank">Watch how to create a family profile</a>)&nbsp;</li>
    <li class="normal">Tap the plus sign (+)&nbsp; along the lower menu&nbsp;</li>
        <li class="normal">Start creating!</li>
    </ul>
        <p class="subsubheading">Ji Studio</p>
        <p class="normal">You can use Ji Studio to create interactive books and posters which can be printed as PDFs or shared.</p>
        <ul><li class="normal">Desktop/laptop: You will need to <a href="http://info.jewishinteractive.org/ji-studio-2" target="_blank">download the Ji Studio app</a> to your computer and install it. This will take a few minutes, depending on your internet connection. Once installed, it can be used offline.</li>
            <li class="normal">iPad/iPhone: Download the <a href="https://apps.apple.com/us/app/ji-studio-4-jewish-kids/id839491165" target="_blank">Ji Studio 4 Jewish Kids</a> app. Once installed, it can be used offline.</li>
            <li class="normal"><a href="https://youtu.be/lrDUW6gqoGs" target="_blank">Watch video</a> about Ji Studio.</li>
        </ul>
        
    <p class="subsubheading">Adobe Spark!</p>
        <p class="normal">We are keeping making video clips easy. Your children can make a video using any tool they wish or just the video camera on a phone. For those more advanced we love Adobe Spark! You will need to download the app, or <a href="https://spark.adobe.com/" target="_blank">create an account</a> to use this tool.</p>
    <p class="Subheading">Please share!</p>
        <p class="normal">Please share your experience or upload your child’s creative work and tag us on social media using <strong>#jibytes</strong>:
            <ul class="normal">
    <li>Facebook - <a href="https://www.facebook.com/JewishInteractive" target="_blank">@JewishInteractive</a></li>
    <li>Instagram - <a href="https://www.instagram.com/jewish_interactive/?hl=en" target="_blank">@jewish_interactive</a></li>
    <li>Twitter - <a href="https://twitter.com/JewishInteract" target="_blank">@JewishInteract</a></li>
    <li>Linked In - <a href="https://www.linkedin.com/company/jewish-interactive/" target="_blank">@JewishInteractive</a></li>
    </ul>
    </p>

</div></div>