section {
    position: absolute;
    top: 27.6rem;
    left: 31.2rem;
    width: 141.842rem;
    height: 56.846rem;

    display: grid;
    grid-template-columns: 1fr 66.741rem;
    border: 1.01px solid #000;
    --border-radius: 1.133rem;
    border-radius: var(--border-radius);

}

section img {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    height: 100%;
    border-right: 1px solid #1f313f;
}

section .right {
    padding: 1.52rem 4.47rem 0 4.4rem;
}

section header {
    font-size: 4.679rem;
    color: #1f313f;
}

section .body-text {
    font-weight: 300;
    font-size: 2.824rem;
    color: #000;
}

section .button {
    margin-top: 2rem;
}